* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  border-top: solid 5px #0282f9;
}

header {
  width: 70%;
  margin: auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 80px;
}

header .logo img {
  max-width: 100%;
}

header nav li {
  display: inline-block;
}

header nav li a {
  margin: 0 20px;
  text-decoration: none;
  color: #1c1c1c;
  padding-bottom: 60px;
}

header nav li a.active {
  color: #0282f9;
  border-bottom: solid 5px #0282f9;
}

header nav li a:hover {
  border-bottom: solid 5px #0282f978;
}

.jumbo {
  background-image: url("https://images.everyeye.it/img-notizie/teen-titans-go-film-simpatico-team-up-dc-trailer-italiano-v3-317751.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 70%;
  margin: auto;
}

#footer-nav {
  background-image: url("https://fbcoverstreet.com/content/qE4KNMcZ3J1vQFjExu2sKSuetUDNzNOlOu7ENI1QxSuYSFn6bGAU2jpXTZa2JOjo.jpg");
  background-position: center;
  background-size: cover;
}

#footer-nav .container {
  display: flex;
  width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 50px 0;
}

#footer-nav .container .nav-container {
  display: flex;
  width: 50%;
}

#footer-nav .container .nav-container h3 {
  color: white;
  margin-right: 20px;
}

#footer-nav .container .nav-container ul {
  margin-right: 20px;
  margin-top: 10px;
}

#footer-nav .container .nav-container ul li {
  color: #838383;
  list-style: none;
  margin: 5px 0;
}

#footer-nav .container .nav-container #shop {
  margin-top: 20px;
}

#footer-nav .container .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

#footer-nav .container .image img {
  max-width: 100%;
  position: absolute;
}

#footer-socials {
  background-color: #303030;
  padding: 40px 0;
}

#footer-socials .container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-socials .container .btn a {
  padding: 15px;
  border: solid #0282f9 3px;
  text-decoration: none;
  color: white;
}

#footer-socials .container .btn a:hover {
  background: #0282f9;
  border: solid white 3px;
}

#footer-socials .container .socials {
  display: flex;
  align-items: center;
}

#footer-socials .container .socials h3 {
  color: #0282f9;
  margin-right: 10px;
}

#footer-socials .container .socials .logo-socials {
  display: flex;
}

#footer-socials .container .socials .logo-socials img {
  padding: 0 10px;
}

#comics {
  background-color: #1c1c1c;
  color: white;
}

#comics .container {
  width: 70%;
  margin: auto;
  position: relative;
}

#comics .container .title {
  position: absolute;
  top: -25px;
  left: 0;
}

#comics .container .title h2 {
  background-color: #0282f9;
  padding: 12px;
}

#comics .container .cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

#comics .container .cards-container .comic {
  width: calc(16.6666666667% - 5px);
}

#comics .container .cards-container .comic .img-container {
  max-height: 200px;
  overflow: hidden;
  margin: 10px 10px;
}

#comics .container .cards-container .comic .text {
  padding-right: 30px;
}

#shop-main {
  background-color: #0282f9;
  color: white;
  padding: 50px 0;
}

#shop-main .cards {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#shop-main .cards .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#shop-main .cards .card img {
  height: 70px;
  max-width: 70px;
}

